<app-header></app-header>
<div class="container py-3">
  <div class="row">
    <div class="col-md-12">
      <div class="text-center py-5 top-title">
        <h1>Nouveau SAMSUNG Galaxy S22</h1>
        <p>Vous ratez quelque chose</p>
        <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="20px">
          <small class="detail-item">
            <i class="pi pi-android"></i>
            Technologies
          </small>
          <small class="detail-item">
            <i class="pi pi-calendar"></i>
            {{today}}
          </small>
          <small class="detail-item">
            <i class="pi pi-user"></i>
            Mouhyib
          </small>
        </div>
      </div>
      <img class="img-thumbnail" src="assets/images/samsung.jpg" alt="samsung">
      <div class="py-3">
        <p class="text-justify a-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus accusantium amet asperiores consequuntur
          doloremque ea hic ipsam, laborum minus neque placeat qui veniam voluptatem. Maiores nobis reiciendis sed
          velit! Quo! ipsum. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam aspernatur assumenda at
          dignissimos enim, explicabo incidunt laboriosam nam nemo nesciunt nihil nostrum perspiciatis praesentium
          quisquam rem sint tenetur. Sequi, totam.</p>
      </div>
    </div>
  </div>
  <div class="my-3" fxLayout="row" fxLayoutAlign="space between">
    <p>Articles récents</p>
    <div class="spacer"></div>
    <p>Tout voir</p>
  </div>
  <div class="row" fxLayoutAlign="space-between">
    <div class="col-md-3 card mb-3 px-0">
      <img src="assets/images/relaxation.jpg" alt="image" class="card-img m-0">
      <div class="card-body">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
      </div>
    </div>
    <div class="col-md-3 card mb-3 px-0">
      <img src="assets/images/relaxation.jpg" alt="image" class="card-img m-0">
      <div class="card-body">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
      </div>
    </div>
    <div class="col-md-3 card mb-3 px-0">
      <img src="assets/images/relaxation.jpg" alt="image" class="card-img m-0">
      <div class="card-body">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
      </div>
    </div>
  </div>
</div>
